body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('./background.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

div {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001c34;
  color: white;
  padding: 16px 32px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-button {
  background-color: white;
  color: #001c34;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.header-button:hover {
  background-color: #e3f2fd;
}

main {
  text-align: center;
  padding: 40px 32px 32px;
}

main div {
  margin-top: 24px;
}

main button {
  background-color: #001c34;
  color: white;
  border: none;
  padding: 16px 24px;
  margin: 0 16px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.home-page-button {
  background-color: #001c34;
  color: white;
  border: none;
  padding: 16px 24px;
  margin: 0 16px;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
}

main button:hover {
  background-color: #003868;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  justify-content: space-between;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.news-container {
  text-align: center;
  margin: 32px 0;
}

.news-title {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 16px;
}

.news-container button {
  font-size: 30px;
}
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.carousel-card {
  width: 360px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.carousel-text {
  padding: 12px;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.carousel-text h3 {
  margin: 0 0 8px;
}

.carousel-text p {
  margin: 0;
}
